@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";

@import "header";
@import "theme-picker";
@import "user";
@import "content";
@import "search";
@import "theme-content";
@import "action";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  line-height: normal;
}

.content {
  position: relative;
}

.wrapper {
  height: 100vh;
}

.material-icons {
  user-select: none;
  cursor: pointer;
}

.material-icons.md-24 {
  font-size: 36px;
}