@import "variables";
@import "mixins";

/*

Остальное

*/

a {
  display: block;
  text-decoration: none;
}

.theme-picker__button {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.theme-picker__button:hover {
  color: #003cff;
}

.title {
  margin-right: 1em;
}

#theme-picker__menu {
  z-index: 9999;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  position: absolute;
  top: 4em;
  left: 0;
  display: none;
}

#theme-picker__menu li:hover {
  .theme-picker__submenu {
    display: block;
  }
}

.theme-picker__submenu {
  display: none;
  flex-direction: row;
  position: absolute;
  left: 38em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

/*
Общий вид пунктов
*/
li {
  background-color: #ffffff;
  list-style-type: none;

  .main-li-a {
    padding: 0.85em;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
  }

  .sub-li-a {
    padding: 0.85em;
    text-decoration: none;
    white-space: nowrap;
  }

  &:hover {
    background-color: #003cff;

    .main-li-a {
      color: #ffffff;
    }

    .sub-li-a {
      color: #000000;
      &:hover{
        color: #ffffff;
      }
    }
  }
}